<!-- Título -->
<div class="text-center mb-16">
    <h2 class="font-arsenica text-4xl lg:text-5xl font-bold text-accent mb-6">
      Conheça minha trajetória e abordagem terapêutica
    </h2>
</div>

<div class="relative flex flex-col max-w-4xl mx-auto my-10 px-4">
  <!-- Linha vertical contínua -->
  <div class="absolute top-0 bottom-0 w-1 bg-primary z-0" style="left: 2.4rem"></div>

  <!-- Evento -->
  <div class="relative flex items-start mb-16">
    <!-- Bolinha -->
    <div class="relative z-10 w-12 h-12 bg-secondary border-4 border-accent rounded-full flex-shrink-0"></div>
    <!-- Conteúdo -->
    <div class="ml-10">
      <h3 class="text-accent font-semibold tracking-wider text-lg mb-2 font-poppins">Estágio no CAPS Infantojuvenil</h3>
      <p class="text-gray-700 leading-relaxed font-poppins text-justify">
        Atuei no Centro de Atenção Psicossocial Infantojuvenil, onde pude oferecer suporte essencial à saúde mental de crianças, adolescentes e seus responsáveis, compreendendo as nuances do desenvolvimento e suas complexidades.
      </p>
    </div>
  </div>

  <!-- Evento -->
  <div class="relative flex items-start mb-16">
    <div class="relative z-10 w-12 h-12 bg-secondary border-4 border-primary rounded-full flex-shrink-0"></div>
    <div class="ml-10">
      <h3 class="text-accent font-semibold tracking-wider text-lg mb-2 font-poppins">Orientação de Carreira para Adolescentes</h3>
      <p class="text-gray-700 leading-relaxed font-poppins text-justify">
        Tive o privilégio de guiar adolescentes em programas de orientação para carreira, auxiliando-os a desvendar seus potenciais e a fazer escolhas conscientes sobre o futuro.
      </p>
    </div>
  </div>

  <!-- Evento -->
  <div class="relative flex items-start mb-16">
    <div class="relative z-10 w-12 h-12 bg-secondary border-4 border-accent rounded-full flex-shrink-0"></div>
    <div class="ml-10">
      <h3 class="text-accent font-semibold tracking-wider text-lg mb-2 font-poppins">Projeto Humanamente no Seabrigo</h3>
      <p class="text-gray-700 leading-relaxed font-poppins text-justify">
        Participei do projeto "Humanamente" no Seabrigo, um trabalho dedicado ao acolhimento e à promoção da saúde mental dos moradores, o que reforçou minha visão humanizada da prática.
      </p>
    </div>
  </div>

  <!-- Último evento -->
  <div class="relative flex items-start">
    <div class="relative z-10 w-12 h-12 bg-secondary border-4 border-primary rounded-full flex-shrink-0"></div>
    <div class="ml-10">
      <h3 class="text-accent font-semibold tracking-wider text-lg mb-2 font-poppins">Atendimento em Clínica-Escola (Abordagem Fenomenológica)</h3>
      <p class="text-gray-700 leading-relaxed font-poppins text-justify">
        Realizei atendimentos em clínica-escola, aplicando a abordagem fenomenológica. Essa experiência me permitiu aprofundar na compreensão das vivências individuais, valorizando a singularidade de cada um.
      </p>
    </div>
  </div>
</div>