<section id="contact" class="py-20 bg-white">
  <div class="container mx-auto px-4">
    <div class="max-w-6xl mx-auto">
      <div class="text-center mb-16">
        <h2 class="font-arsenica text-4xl lg:text-5xl font-bold text-accent mb-6">
          Entre em Contato
        </h2>
        <p class="font-poppins text-xl text-gray-600 leading-relaxed max-w-3xl mx-auto">
          Estou aqui para ajudar você. Entre em contato para agendar sua consulta 
          ou esclarecer qualquer dúvida
        </p>
      </div>

      <div class="grid lg:grid-cols-2 gap-12">

        <!-- Informações de contato -->
        <div class="space-y-8">
          <div class="border-primary/20 border rounded-lg p-6">
            <div class="font-arsenica text-2xl text-accent flex items-center mb-2">
              <span class="text-3xl mr-4"><i class="fa-brands fa-whatsapp text-primary"></i></span>WhatsApp
            </div>
            <p class="font-poppins text-lg text-gray-700 mb-2">(31) 99874-8837</p>
            <p class="font-poppins text-sm text-gray-600">Segunda a sexta: Resposta assim que possível</p>
          </div>

          <div class="border-primary/20 border rounded-lg p-6">
            <div class="font-arsenica text-2xl text-accent flex items-center mb-2">
              <span class="text-3xl mr-4"><i class="fa-solid fa-envelope text-primary"></i></span>E-mail
            </div>
            <p class="font-poppins text-lg text-gray-700 mb-2">{{email}}</p>
            <p class="font-poppins text-sm text-gray-600">Resposta assim que possível</p>
          </div>
        </div>

        <!-- Formulário de contato -->
        <div class="border-primary/20 border rounded-lg p-6">
          <div class="font-arsenica text-2xl text-accent mb-6">Envie uma mensagem</div>
          <form (ngSubmit)="sendWhatsapp()" #contatoForm="ngForm" class="space-y-6">
            <section>
              <input name="nome" [(ngModel)]="formData.nome" type="text" placeholder="Seu nome completo" class="font-poppins w-full border rounded px-4 py-2" required />
            </section>
            <section>
              <input name="email" [(ngModel)]="formData.email" type="email" placeholder="Seu e-mail" class="font-poppins w-full border rounded px-4 py-2" required />
            </section>
            <section>
              <textarea name="mensagem" [(ngModel)]="formData.mensagem" placeholder="Como posso ajudar você? Descreva brevemente o que está buscando..." rows="5" class="font-poppins w-full border rounded px-4 py-2" required></textarea>
            </section>
            <button type="submit" class="w-full bg-accent hover:bg-accent/80 text-white font-poppins text-lg py-3 rounded">Enviar Mensagem</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
